@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --bg-black: hsl(226, 43%, 10%);
    --bg-color: hsl(235, 46%, 20%);
    --bg-purple: hsl(235, 45%, 61%);
    --bg-light-purple: hsl(236, 100%, 87%);

    --color-profile: hsl(246, 80%, 60%);
    --color-work: hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-selfcare: hsl(43, 84%, 65%);

    --font-size: 18px;
    --font-w-thin: 300;
    --font-w-normal: 400;
    --font-w-black: 500;
}

* {
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: var(--font-w-thin);
}

span{
    font-weight: var(--font-w-black);
    color: var(--bg-light-purple);
}

body {
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section {
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
margin-top: 4rem;
margin-bottom: 4rem;
}

.profile, .cards {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}



.profile .menu {
    background-color: var(--bg-color);
    width: 330px; 
    border-radius: 1rem; 
    display: flex;
    flex-direction: column;
} 

.profile .menu .profile-content {
    display: flex;
    padding: 1.7rem 1rem;
    background-color: var(--color-profile);
    border-radius: 1rem;
    font-weight: var(--font-w-thin);
}

.profile .menu .options {
    display: flex;
    justify-content: space-between;
}

.profile .menu .options button {
    padding: 1.5rem 2rem;
    color: var(--bg-purple);
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    transition: .3s all ease-in-out;
    font-family: 'Rubik', sans-serif;
}
.profile .menu .options button:hover {
    color: var(--bg-light-purple);
}
.profile .menu .options button.active {
    color: white;
}

.profile .menu .profile-content img{
    width: 50px;
    margin-right: 1rem;
    border: 3px solid white;
    border-radius: 50px;  
}

/* Cards */

.card {
    width: 330px;
    margin-top: 2rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
}
#social {
    background-color: var(--color-social);
}
#work {
    background-color: var(--color-work);
}
#exercise {
    background-color: var(--color-exercise);
}
#self-care {
    background-color: var(--color-selfcare);
}
#play {
    background-color: var(--color-play);
}
#study {
    background-color: var(--color-study);
}
.card .banner {
    display: flex;
    height: 2.2rem;
    justify-content: end;
    align-items: center;
}

.card .banner img{
    transform: scale(1);
    width: 5rem;
    display: flex;
    clip-path:inset(22.5px 0);
    margin-right: 1rem;
}
.card .banner img.exercise{
    clip-path:inset(10px 0);
}
.card .banner img.social{
    clip-path:inset(37px 0);
}

.card .head-card {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: .8rem;
}

.d-flex {
    display: flex;
}
.card .head-card .header-card {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .head-card .title {
    font-size: 18px;
    font-weight: var(--font-w-black);
}

.card .head-card .pointer {
    display: inline-flex;
    flex-direction: row;
    width: .3rem;
    height:.3rem;
    border-radius: 50px;
    background-color: var(--bg-purple);
    margin-left: .15rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.card .head-card .pointers:hover .pointer {
    background-color: white;
}

.card .head-card .time-activity {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    align-items: center;
}

.card .head-card .time-activity .time {
    font-size: 2.5rem;
    font-weight: var(--font-w-thin);
}
.card .head-card .time-activity .routine {
    font-size: .9rem;
    font-weight: var(--font-w-normal);
    color: var(--bg-purple)
} 

@media (min-width: 1258px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    section {
        flex-direction: row;
        width: 1240px;

    }

    h2 {
        font-size: 3.2rem;
        font-weight: var(--font-w-thin);
    }


    .profile {
        margin-right: 2rem;

    }

    .profile .menu {
        width: 290px; 
        flex-direction: column;
    } 

    .profile .menu .profile-content {
        flex-direction: column;
        padding: 2.5rem 2rem;
        height: 320px;
    }

    .profile .menu .options {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
        width: 100%;
    }

    .profile .menu .options button {
        padding: 0 2rem 2rem 2rem;
        font-size: 18px;
    }

    .profile .menu .profile-content img{
        width: 100px;
        margin-right: 1rem;
        border: 3px solid white;
        border-radius: 50%; 
        margin-bottom: 2.5rem; 
    }

    .card {
        width: 330px;
        margin-top: 2rem;
        display: flex;
        border-radius: 1rem;
        flex-direction: column;
    }
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        width: 270px;
        margin: 1rem 2rem 2rem 0;
        flex-direction: column;
    }
    .card .banner {
        display: flex;
        height: 3.5rem;
        justify-content: end;
        align-items: center;
    }
    .card .banner img{
        transform: scale(1.2);
        clip-path:inset(19px 0);
     }
    .card .head-card .time-activity {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: .5rem 0;
    }
    .card .banner img.exercise{
        clip-path:inset(4px 0);
    }
    .card .banner img.social{
        clip-path:inset(30px 0);
    }
    .card .head-card .time-activity .time {
        margin-top: 1rem;
        margin-bottom: .5rem;
        font-size: 3.5rem;
    }
    .card .head-card .time-activity .routine {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    } 

}