@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --bg-black: hsl(226, 43%, 10%);
    --bg-color: hsl(235, 46%, 20%);
    --bg-purple: hsl(235, 45%, 61%);
    --bg-light-purple: hsl(236, 100%, 87%);

    --color-profile: hsl(246, 80%, 60%);
    --color-work: hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-selfcare: hsl(43, 84%, 65%);

    --font-size: 18px;
    --font-w-thin: 300;
    --font-w-normal: 400;
    --font-w-black: 500;
}

* {
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: var(--font-w-thin);
}

body {
    background-color: var(--bg-black);
    font-family: 'Rubik', sans-serif;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

section {
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
margin-top: 4rem;
}

.profile, .cards {
    display: flex;
    justify-content: center; 
}



.profile .menu {
    background-color: var(--bg-color);
    width: 330px; 
    border-radius: 1rem; 
    display: flex;
    flex-direction: column;
} 

.profile .menu .profile-content {
    display: flex;
    padding: 1.7rem 1rem;
    background-color: var(--color-profile);
    border-radius: 1rem;
    font-weight: var(--font-w-thin);
}

.profile .menu .options {
    display: flex;
    justify-content: space-between;
}

.profile .menu .options button {
    padding: 1.5rem 2rem;
    color: var(--bg-purple);
    background: none;
    border: none;
}

.profile .menu .profile-content img{
    width: 50px;
    margin-right: 1rem;
    border: 3px solid white;
    border-radius: 50px;  
}

/* Cards */

#card {
    width: 330px;
    background-color:  var(--color-work);
    margin-top: 2rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
}

#card .banner {
    display: flex;
    height: 2.2rem;
    justify-content: end;
    align-items: center;
}

#card .banner svg{
    display: flex;
    clip-path:inset(23px 0);
}

#card .head-card {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: .8rem;
}

.d-flex {
    display: flex;
}
#card .head-card .header-card {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#card .head-card .title {
    font-size: 18px;
    font-weight: var(--font-w-black);
}

#card .head-card .pointer {
    display: inline-flex;
    flex-direction: row;
    width: .3rem;
    height:.3rem;
    border-radius: 50px;
    background-color: var(--bg-purple);
    margin-left: .15rem;
}

#card .head-card .time-activity {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    align-items: center;
}

#card .head-card .time-activity .time {
    font-size: 2.5rem;
    font-weight: var(--font-w-thin);
}
#card .head-card .time-activity .routine {
    font-size: .9rem;
    font-weight: var(--font-w-normal);
    color: var(--bg-purple)
} 